<nav
  class="navbar navbar-expand-lg navbar-light py-5 d-block"
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="footer-heading-color font-sans-serif mb-3 mb-lg-4"
        >DEMO APP</span
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div
      class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start"
      >
        <li class="nav-item px-3 px-xl-4">
          <a class="nav-link fw-bold" aria-current="page" routerLink="">HOME</a>
        </li>
        <li class="nav-item px-3 px-xl-4">
          <a class="nav-link fw-bold" aria-current="page" href="#">ABOUT US</a>
        </li>
        <li class="nav-item px-3 px-xl-4">
          <a class="nav-link fw-bold" aria-current="page" href="#">JOBS</a>
        </li>
        <li class="nav-item px-3 px-xl-4">
          <a class="nav-link fw-bold" aria-current="page" href="#">CLIENTS</a>
        </li>
        <li class="nav-item px-3 px-xl-4">
          <a class="nav-link fw-bold" aria-current="page" href="#">EMPLOYERS</a>
        </li>
        <li class="nav-item px-3 px-xl-4">
          <a class="nav-link fw-bold" href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
