.image-preview img {
  max-width: 200px;
  max-height: 200px;
}

label {
  color: #00a2ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  cursor: pointer;
  margin-left: 20px;
}
.image-preview {
  padding-left: 50px;
  padding-top: 50px;
}
